.contacto-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
    flex-grow: 1;


    .contacto-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }
    .media-info {
        display: flex;
        flex-direction: column;
        .media-div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: $fs-1;
        }
        .media-multi {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
    }
}